@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255);
  background-color: #000;
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dots::after {
  content: "";
  animation: dot 1500ms ease-in-out infinite;
}

#container:hover {
  cursor: pointer;
}

#inner {
  transition: transform 0.5s;
  -webkit-transition: transform 0.5;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.393);
  border-radius: 15px;
  overflow: hidden;
}

@keyframes dot {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

.dotted_horizontal_ruler {
  border-bottom: 0.0694444444vw dashed black;
}

.dotted_vertical_ruler {
  border-right: 0.0694444444vw dashed black;
}

.chakra-modal__content-container {
  width: 24vw !important;
  right: 0 !important;
  left: 100% !important;
  z-index: 9999;
}

.menu_list_item {
  margin: 8px 0px;
  font-size: 24px;
  padding: 4px 16px;
  font-weight: 550;
}

.menu_list_item:hover {
  background-color: black;
  color: #fa4c14;
  border-radius: 4px;
}

.terms_list {
  width: 33%;
  margin: 8px 8px;
  font-size: 12px;
  padding: 4px 24px;
  font-weight: 550;
}

.terms_list:hover {
  background-color: black;
  color: #fa4c14;
  border-radius: 4px;
}

.redClass {
  width: 33%;
  height: 3vh;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid black;
  background-color: #fa4c14;
}

.pinkClass {
  width: 33%;
  height: 3vh;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #ec39b6;
}

.blueClass {
  width: 33%;
  height: 3vh;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid black;
  background-color: #5014fa;
}

/* Contact button -> border for corners */

.corner-border {
  width: 100%;
  height: 50px;
  background: linear-gradient(to right, rgb(255, 72, 0) 2px, transparent 2px) 0
      0,
    linear-gradient(to right, rgb(255, 72, 0) 2px, transparent 2px) 0 100%,
    linear-gradient(to left, rgb(255, 72, 0) 2px, transparent 2px) 100% 0,
    linear-gradient(to left, rgb(255, 72, 0) 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, rgb(255, 72, 0) 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, rgb(255, 72, 0) 2px, transparent 2px) 100% 0,
    linear-gradient(to top, rgb(255, 72, 0) 2px, transparent 2px) 0 100%,
    linear-gradient(to top, rgb(255, 72, 0) 2px, transparent 2px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 6px 6px;
}

/* Contact sliding texts */
.texts {
  white-space: nowrap;
}
.text-slide {
  animation: 12s slide infinite linear;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.header {
  position: relative;
  top: 0;
  left: 0;
  background: linear-gradient(black, transparent);
  opacity: 1;
  color: white;
  width: 100%;
  transition: opacity 0.5s var(--ease-out-expo);
  z-index: 2;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #fd0000;
  transform: translate3d(0px, 0px, 0px);
}
