@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dots::after {
  content: "";
  animation: dot 1500ms ease-in-out infinite;
}

#container:hover {
  cursor: pointer;
}

#inner {
  transition: transform 0.5s;
  -webkit-transition: transform 0.5;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.393);
  border-radius: 15px;
  overflow: hidden;
}



@keyframes dot {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

.markee {
  margin: 16px;
}
